{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <p>Le résultat de {{nombre1}}{{operateur}}{{nombre2}}  est : {{ addition }}</p>
{% endblock %}
